#login-div {
    text-align:center;
    display:none;
}

#buttons-div {
    text-align:center;
    margin-top:25vh;
}

canvas {
    margin-top:5vh
}

#loading {
   text-align:center;
}
#mainDiv {
    display:none;
    /*margin-right: 50%;*/
    position:relative;
    left:20%;
}

.buddy-list {
    font-family:Ubuntu;
    position:fixed;
    z-index:100;

}
.buddy-list-header {
    background-color: #0065BC;
    position:absolute;
    width: 240px;
    color: #FFF;
    height: 40px;
    font-size: 25px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.header-text {
    position:absolute;
    left:25px;
    top:5px;


}
.panel-body {
    background-color: #d3d2d2;
    height:420px;
    width: 240px;
    border-radius:10px;

}
h3 {
    position:absolute;
    top:23px;
    left:12px;
}

.name-search {
    border-radius: 7px;
    position:absolute;
    top:50px;
    width:150px;
    left:80px;
}
.name-search-div {
    position:absolute;
    display:inline-flex;
}
.buddies-panel {
    display:block;
    margin: 10px;
    position:relative;
    top:80px;
    background-color:#FFFFFF;
    height:320px;
    border-radius:5px;
    overflow-y:scroll;
}



.buddy-div {
    position:relative;
    top:10px;
    width:100%;
    background-color: #FFFFFF;
    height:45px;

}
.buddy-div:hover {
    background-color: #eeeeee;

}
.buddy-name {
    font-size:15px;
    position:absolute;
    left:20px;
    top:0px;
}

.buddy-location {
    position:absolute;
    left:45px;
    top:20px;
    font-size:13px;
    color:gray;
}

.buddy-status-online {
    position:absolute;
    top:20px;
    left:25px;
    background-color:#00cb10;
    width:11.5px;
    height:11.5px;
    border-radius:100%;
    border:2px solid #228540
}
.buddy-status-offline {
    position:absolute;
    top:20px;
    left:25px;
    background-color:#dadada;
    width:11.5px;
    height:11.5px;
    border-radius:100%;
    border:2px solid #8a8f96;
}
svg {
    position:absolute;
    width:16px;
    height:16px;
    right:10px;
    top:10px;
}

svg:hover {
    width:20px;
    stroke-width:20px;
    height:20px;
}
.inventory-item-bg-panel {

}
.inventory-item-panel {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);


}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}